# AVE Bot API Key (申请自 docs-bot-api.ave.ai)
AVE_API_KEY=SW59NmZFRG2yfRSSWvKlzTuAuZBFl5SUUCV2DUX5rg5eK8n6sipMlLkwXCX5qHGw
AVE_BASE_URL=https://bot-api.ave.ai

# 钱包主密码：用于加密存储在DB里的助记词，请修改为强密码
WALLET_MASTER_PASSWORD=your_secure_password_here

# CA推送 WebSocket 地址
CA_WS_URL=ws://43.254.167.238:3000/token

# 后端服务端口
BACKEND_PORT=8000
