fastapi==0.111.0
uvicorn[standard]==0.29.0
websockets==12.0
httpx==0.27.0
sqlalchemy==2.0.30
aiosqlite==0.20.0
python-dotenv==1.0.1
mnemonic==0.21
eth-account==0.11.2
eth-utils
cryptography
base58
pydantic==2.7.1
pydantic-settings==2.2.1
solders==0.27.1
